// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

&rng {
	status = "disabled";
};

&usb_1_hsphy {
	status = "okay";
};

&usb_1 {
	dr_mode = "peripheral";

	status = "okay";
};
