# Configuration for building U-Boot for snagboot/recovery mode
# on Lemans-EVK dev boards.
#
# For normal production boot, use qcom_lemans_defconfig instead.

#include "qcom_defconfig"
#include "qcom-snagboot.config"

# Platform-specific settings for Lemans-EVK

# Address where U-Boot will be loaded
CONFIG_TEXT_BASE=0x1c100000
CONFIG_REMAKE_ELF=y
CONFIG_FASTBOOT_BUF_ADDR=0xdb300000
CONFIG_DEFAULT_DEVICE_TREE="qcom/lemans-evk"

# Timer frequency for Lemans platform
CONFIG_COUNTER_FREQUENCY=19200000